$footer-text-color: #444348;
$blue-color: #008ed6;
$black-color: #15141a;
$light-color: #ffffff;
$gray-text-color: #999999;
$black-text-color: #1a1a1a;

//fonts
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts" !default;

$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-dribbble: "\eaa7";
$icon-behance: "\eaa8";
$icon-linkedin2: "\eaca";
