.block-heading {
    text-align: center;
    &__title {
        color: $black-text-color;
        font-size: 36px;
        font-weight: 600;
        line-height: 41px;
        position: relative;
        &:after {
            content: "";
            width: 20px;
            height: 2px;
            position: absolute;
            top: 75px;
            left: 0;
            right: 24px;
            margin: 0 auto;
            background-color: $blue-color;
            
        }
        &:before {
            content: "";
            width: 20px;
            height: 2px;
            position: absolute;
            top: 75px;
            left: 20px;
            right: 0;
            margin: 0 auto;
            background-color: $blue-color;
        }
        &_left {
            text-align: left;
            &:after {
                margin: 0;
                top: 66px;
            }
            &:before {
                margin: 0;
                left: 22px;
                top: 66px;
            }
        }
        
    }
    &__subtitle {
        display: block;
        color: $blue-color;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.55px;
        text-transform: uppercase;
        &_left {
            text-align: left;
        }

    }
}


