.plan {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.plan-item {
    flex-basis: 23.333%;
    border: 1px solid #e0e0e0;
    padding-bottom: 29px;
    min-width: 270px;

    &__title {
        color: $black-text-color;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 21px 0;
        &_advice {
            color: $blue-color;
        }
    }

    &__desc {
        padding: 0px 31px;
        margin-top: 44px;

    }
    &__link {
        color: $blue-color;
        text-decoration: none;
    }
      
}
.price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 26px 0 35px 0;
    &_advice {
        background-color: $blue-color;;
    }
    &__cost {
        color: $black-text-color;
        font-size: 60px;
        font-weight: 600;
        display: inline-block;
        margin: 0;
        &_advice {
            color: $light-color;
        }
    }
    &__dollar {
        font-size: 24px;
        font-weight: 600;
        vertical-align: super;
        &_advice {
            color: $light-color;
        }
    }
    &__period {
        margin: 0;
        color: $gray-text-color;
        font-size: 18px;
        font-weight: 400;
        &_advice {
            color: $light-color;
        }
    }
}
