@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


body {
    font-family: 'Source Sans Pro', sans-serif;
}

.text {
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.button-active {
    box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
    background-color: $blue-color;
    border: 1px solid $blue-color;
    border-radius: 3px;
    color: $light-color;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        border: 1px solid $light-color;
    }
}

.button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
    &:hover {
        border-color: $light-color;
    }
    &_plan {
        color: $blue-color;
        margin-top: 40px;
        padding: 16px 42px;
        border: 1px solid #e0e0e0;
        &:hover {
            border-color: lighten($blue-color, 8%);
            background-color: lighten($blue-color, 8%);
            color: $light-color;
        }
        &_advice {
            border-color: lighten($blue-color, 8%);
            background-color: $blue-color;
            color: $light-color;
            &:hover {
                background-color: lighten($blue-color, 8%);
            }
        }
    }
}


.page-features {
    padding: 60px 0 50px 0;
    border-bottom:1px solid #ededed; ;
}
.features {
    margin-top: 109px;
    @include row-flex();
    @include md(margin-top, 60px);
    @include sm(margin-top, 30px);
    justify-content: center;
}
.features-list {
    @include col();
    @include size(3);
    @include size-lg(5);
    @include size-md(6);
    @include size-sm(10);
    text-align: center;
    margin-bottom: 20px;
    &__img {
        display: flex;
        justify-content: center;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        width: 88px;
        height: 88px;
        margin: 0 auto;
    }

    &__title {
        color: $black-text-color;
        font-size: 24px;
        font-weight: 400;
        margin-top: 29px;
        margin-bottom: 12px;
    }
}


.page-about {
    padding: 67px 0 20px 0;
    @include lg(padding-bottom, 40px);
    &-box {
        @include row-flex();
        &__img {
            margin-top: 26px;
            margin-left: 31px;
            @include lg (display, none);
            @include xlg(max-width, 40%);
            
        }

}
    &-item {
        @include col();
        @include size(5);
        @include size-xlg(6);
        @include size-lg(10);
        @include lg(margin, 0 auto);
        @include size-md(12);
        margin-top: 75px;
        margin-left: 74px;
        &__desc {
            margin-top: 52px;
            margin-bottom: 24px;
        }

		&__list {
            list-style-type: none;
            @include sm(display, none);
            
        }

		&__item {
            color: $black-text-color;
            letter-spacing: 0.8px;
            font-weight: 400;
            line-height: 36px;

        }
        &__img {
            width: 16px;
            height: 16px;
            position: relative;
            margin-right: 10px;
            top: 2px;

        }
    }
}


.page-reviews {
    padding: 31px 0 25px 0;
    @include xlg(padding, 70px 0 60px 0);
    background-color: #f2f2f2;
    &-box {
        @include row-flex();
        justify-content: space-between;
        &__img {
            @include col();
            @include size(7);
            @include lg(display, none);
        }
    }
    &-item {
        @include col();
        @include size(5);
        @include size-lg(10);
        @include lg(margin, 0 auto);
        @include size-md(12);
        margin-top: 97px;
        &__desc {
            margin-top: 53px;
        }
    }
}


.testimonials {
    background: url(../img/testimonials-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 214px;
    z-index: 1;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
        background-color: rgba( 21,20,26, 0.8);
        
       }
    &_heading {
        padding-top: 60px;
    }
    &__title {
        color: $light-color;
    }
    &-slider {
        @include row-flex();
        @include lg(margin-top, 50px);
        margin-top: 93px;

    }
    &-inner {
        @include col();
        @include size (6);
        @include size-lg(8);
        @include lg(margin, 0 auto);
        @include size-md(10);
        @include size-sm(12);
        &__comment {
            color: $light-color;
            font-style: italic;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            word-spacing: -1.5px;
        }

    }
    &-user {
        display: flex;
        &__avatar {
            margin-right: 25px;
            align-self: center
        }
        &-row {
            &__name {
                color: $light-color;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.9px;
                margin: 0;
            }
    
            &__position {
                display: block;
                color: $light-color;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: -1px;
                margin: 0;
            }
        }
		
    }

}


.download {
    background-color: $black-color;
    padding: 60px 0 60px 0;
    @include sm (display, none);
    &_row {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
    }
    &-box {
        @include xlg(margin, 20px auto 0 auto);
        
        &__title {
            color: $light-color;
            font-size: 36px;
            font-weight: 600;
            @include xlg(margin, 0 auto); 

        }
        &__span {
            font-weight: 300;
            @include md(display, block);

        }
        &__button {
            padding: 16px 31px;
            color: $light-color;

        }
        &__button_active {
            padding: 16px 27px;
            margin-left: 15px;

        }
    }
}


.page-plan {
    padding: 55px 0 35px 0;
}
.plan {
    text-align: center;
    margin-top: 102px;
    @include row-ib();
    font-size: 0;
    
}
.plan-item {
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    padding-bottom: 29px;
    margin-bottom: 25px;
    min-width: 260px;
    @include col();
    @include col-ib();
    @include size(3);

    &__title {
        color: $black-text-color;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 21px 0;
        &_advice {
            color: $blue-color;
        }
    }

    &__desc {
        padding: 0px 31px;
        margin-top: 44px;

    }
    &__link {
        color: $blue-color;
        text-decoration: none;
    }
      
}
.price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 26px 0 35px 0;
    &_advice {
        background-color: $blue-color;;
    }
    &__cost {
        color: $black-text-color;
        font-size: 60px;
        font-weight: 600;
        display: inline-block;
        margin: 0;
        &_advice {
            color: $light-color;
        }
    }
    &__dollar {
        font-size: 24px;
        font-weight: 600;
        vertical-align: super;
        &_advice {
            color: $light-color;
        }
    }
    &__period {
        margin: 0;
        color: $gray-text-color;
        font-size: 18px;
        font-weight: 400;
        &_advice {
            color: $light-color;
        }
    }
}