<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")

        <section>
            <div class="page-features">
                <div class="wrap">
                    <div class="block-heading">
                        <p class="block-heading__subtitle">product overview</p>
                        <h2 class="block-heading__title">List of amazing features</h2>
                    </div>
                    <div class="features">
                        <div class="features-list">
                            <div class="features-list__img"><img src="../img/svg/Monitor.svg" alt="Monitor"></div>
                            <h3 class="features-list__title">Responsive</h3>
                            <p class="text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>   
                        </div>
                        <div class="features-list">
                            <div class="features-list__img"><img src="../img/svg/Settings.svg" alt="Settings"></div>
                            <h3 class="features-list__title">Customizable</h3>
                            <p class="text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>   
                        </div>
                        <div class="features-list">
                            <div class="features-list__img"><img src="../img/svg/Like.svg" alt="Like"></div>
                            <h3 class="features-list__title">Lovely design</h3>
                            <p class="text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>   
                        </div>
                        <div class="features-list">
                            <div class="features-list__img"><img src="../img/svg/Phone.svg" alt="Phone"></div>
                            <h3 class="features-list__title">Mobile Friendly</h3>
                            <p class="text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>   
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
        <div class="page-plan">
            <div class="wrap">
                <div class="block-heading">
                    <p class="block-heading__subtitle">quality has its price</p>
                    <h2 class="block-heading__title">Pricings & Plans</h2>
                </div>
                <div class="plan">
                    <div class="plan-item">
                        <h3 class="plan-item__title">Free</h3>
                        <div class="price">
                            <p class="price__cost"><span class="price__dollar">$</span>0</p>
                            <p class="price__period">/per month</p>
                        </div>
                        <p class="plan-item__desc text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a class="plan-item__link" href="#">lacinia</a> consectetur.</p>
                        <button type="submit" class="button button_plan" >order now</button>
                    </div>
                    <div class="plan-item">
                        <h3 class="plan-item__title">Personal</h3>
                        <div class="price">
                            <p class="price__cost"><span class="price__dollar">$</span>25</p>
                            <p class="price__period">/per month</p>
                        </div>
                        <p class="plan-item__desc text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a class="plan-item__link" href="#">lacinia</a> consectetur.</p>
                        <button type="submit" class="button button_plan" >order now</button>
                    </div>
                    <div class="plan-item">
                        <h3 class="plan-item__title plan-item__title_advice">Business</h3>
                        <div class="price price_advice">
                            <p class="price__cost price__cost_advice"><span class="price__dollar price__dollar_advice">$</span>50</p>
                            <p class="price__period price__period_advice">/per month</p>
                        </div>
                        <p class="plan-item__desc text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a class="plan-item__link" href="#">lacinia</a> consectetur.</p>
                        <button type="submit" class="button button_plan button_plan_advice" >order now</button>
                    </div>
                    <div class="plan-item">
                        <h3 class="plan-item__title">Ultimate</h3>
                        <div class="price">
                            <p class="price__cost"><span class="price__dollar">$</span>99</p>
                            <p class="price__period">/per month</p>
                        </div>
                        <p class="plan-item__desc text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a class="plan-item__link" href="#">lacinia</a> consectetur.</p>
                        <button type="submit" class="button button_plan" >order now</button>
                    </div>
                </div>
            </div>
        </div>
        </section>
            
        @@include("../blocks/modules/footer/footer.html")
    </body>
</html>
