@import "helpers/variables";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t8gnt9') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-facebook {
    &:before {
        content: $icon-facebook; 
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter; 
    }
}
.icon-dribbble {
    &:before {
        content: $icon-dribbble; 
    }
}
.icon-behance {
    &:before {
        content: $icon-behance; 
    }
}
.icon-linkedin2 {
    &:before {
        content: $icon-linkedin2; 
    }
}
